---
layout: single
author_profile: true
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/sunyu-kim-unsplash.jpg
    caption: "Photo credit: Sunyu Kim on Unsplash"
---

<div class="post-list">
    {% for post in site.categories.travel %}

    <div>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
    <div>
        {% if post.preview_pic %}
        <div class="align-left">
                <a href="{{ post.url }}"><img src="{{ site.baseurl }}{{ post.preview_pic }}"></a>
            </div>
        {% endif %}
        <div>
            {{ post.excerpt | strip_html | truncatewords:75 }}
            <a href="{{ post.url }}">Read More &raquo;</a>
        </div>
    </div>
    {% endfor %}
</div>